---
layout: base.njk
permalink: /overview.html
---
<div>
  <!--landing page-->
  <section class="pb-20 pageOne-js relative overflow-hidden">
    <img src="../src/assets/aboutUs/alient.png" alt="alient" id="alien-image" class="top-96 right-8 absolute" />
    <img src="../src/assets/aboutUs/b0.png" alt="alient" class="absolute top-[27rem] right-[16rem]" id="b0-image" />
    <img src="../src/assets/overview/consult.svg" alt="consult" class="top-16 right-20 absolute" />
    <img src="../src/assets/aboutUs/d1.png" alt="alient" id="c1-image" class="absolute top-[1rem] left-[-2rem]" />

    <div class="max-w-3xl px-4 py-24 text-gray-800 md:px-14 md:py-16">
      <!-- Top Text -->
      <p
        class="font-mono font-normal p-1 py-0.5 rounded-lg intro-js flex max-w-fit items-center justify-center bg-[#e9fffe] text-[10px] leading-none text-[#1d2027] uppercase antialiased">
        Overview
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#474747"
          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-minus">
          <path d="M5 12h14" />
        </svg>
      </p>

      <h1 class="text-5xl font-normal tracking-tight md:text-6xl lg:text-7xl text-black leading-tight">
        <div class="heroTitle-js flex items-center">
          Tech
          <img src="../src/assets/overview/Gemini_Generated_Image_i0luexi0luexi0lu.jpg" alt="Shield emblem"
            class="mx-2 h-12 w-12 md:h-16 md:w-16 inline object-center" />
          Solutions
        </div>
        <div class="heroTitle-js">Consulting</div>
      </h1>
      <p class="pt-12 text-gray-700 font-semibold leading-relaxed heroPara-js">
        A leading IT consultation and technology solutions provider
        dedicated to transforming businesses through innovative software
        and application development.
      </p>
      <div class="sm:text-sm mt-5">
        <a href="./contact-us.html"
          class="gap-x-1 px-4 py-2.5 font-medium text-white ease-in-out hover:border-black hover:bg-white hover:text-black active:bg-gray-900 md:inline-flex md:px-5 md:py-4 flex items-center justify-center rounded-full bg-gradient-to-t from-[#36cbd7] to-[#396fe3] transition delay-50 duration-275 hover:border-1">
          Get started
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
            <path fillRule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clipRule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </section>

  <!--Breif-->
  <section className="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 py-12 mx-auto">
      <div class="md:grid-cols-2 gap-8 mb-16 grid items-center">
        <div class="h-64 md:h-80 lg:h-96 rounded-2xl shadow-xl relative overflow-hidden">
          <img
            src="https://img.freepik.com/free-photo/businesspeople-meeting-office-hand-shake_23-2148908931.jpg?t=st=1742898582~exp=1742902182~hmac=21590380eb9a1dcb9b4db651378b46cd9549570c8076a51cec6a2bdea1f46205&w=1060"
            alt="Business Collaboration" class="inset-0 absolute h-full w-full object-cover" />
          <div class="inset-0 bg-orange-900/20 absolute mix-blend-multiply"></div>
        </div>
        <div class="space-y-6">
          <h1 class="text-3xl md:text-4xl font-bold text-gray-900">
            Belief Powers Business
          </h1>
          <p class="text-lg text-gray-700">
            At Vibrant, we go beyond helping businesses transform through
            technology. We help them make a meaningful difference; to
            their customers, and to the communities they serve.
          </p>
        </div>
      </div>

      <div class="space-y-8">
        <h2 class="text-2xl md:text-3xl font-bold text-orange-900 text-center">
          Industries we have impacted
        </h2>

        <div class="md:grid-cols-2 gap-6 grid">
          <div
            class="p-6 bg-white border-orange-100 rounded-2xl hover:border-orange-300 hover:shadow-xl group flex cursor-pointer items-center border-2 transition-all">
            <div
              class="h-16 w-16 bg-orange-100 text-orange-600 mr-6 group-hover:bg-orange-200 flex items-center justify-center rounded-full transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
              </svg>
            </div>
            <span class="text-xl font-medium text-orange-900 group-hover:text-orange-700 transition-colors">
              Web Development
            </span>
          </div>

          <div
            class="p-6 bg-white border-orange-100 rounded-2xl hover:border-orange-300 hover:shadow-xl group flex cursor-pointer items-center border-2 transition-all">
            <div
              class="h-16 w-16 bg-orange-100 text-orange-600 mr-6 group-hover:bg-orange-200 flex items-center justify-center rounded-full transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z" />
              </svg>
            </div>
            <span class="text-xl font-medium text-orange-900 group-hover:text-orange-700 transition-colors">
              School Management System
            </span>
          </div>

          <div
            class="p-6 bg-white border-orange-100 rounded-2xl hover:border-orange-300 hover:shadow-xl group flex cursor-pointer items-center border-2 transition-all">
            <div
              class="h-16 w-16 bg-orange-100 text-orange-600 mr-6 group-hover:bg-orange-200 flex items-center justify-center rounded-full transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
              </svg>
            </div>
            <span class="text-xl font-medium text-orange-900 group-hover:text-orange-700 transition-colors">
              Software Testing
            </span>
          </div>

          <div
            class="p-6 bg-white border-orange-100 rounded-2xl hover:border-orange-300hover:shadow-xl group flex cursor-pointer items-center border-2 transition-all">
            <div
              class="h-16 w-16 bg-orange-100 text-orange-600 mr-6 group-hover:bg-orange-200 flex items-center justify-center rounded-full transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
              </svg>
            </div>
            <span class="text-xl font-medium text-orange-900 group-hover:text-orange-700 transition-colors">
              Mobile Apps Development
            </span>
          </div>

          <div
            class="p-6 bg-white border-orange-100 rounded-2xl hover:border-orange-300 hover:shadow-xl group flex cursor-pointer items-center border-2 transition-all">
            <div
              class="h-16 w-16 bg-orange-100 text-orange-600 mr-6 group-hover:bg-orange-200 flex items-center justify-center rounded-full transition-colors">
              <?xml version="1.0" encoding="UTF-8"?>
              <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-package-search">
                <path
                  d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14" />
                <path d="m7.5 4.27 9 5.15" />
                <polyline points="3.29 7 12 12 20.71 7" />
                <line x1="12" x2="12" y1="22" y2="12" />
                <circle cx="18.5" cy="15.5" r="2.5" />
                <path d="M20.27 17.27 22 19" />
              </svg>
            </div>
            <span class="text-xl font-medium text-orange-900 group-hover:text-orange-700 transition-colors">
              IT-Enabled Services & Hardware
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- clients-->
  <section class="py-16">
    <div class="clientPage-js max-w-screen-xl px-4 md:px-8 mx-auto text-center">
      <h2
        class="text-blue-600 font-medium tracking-wider mb-6 px-4 py-1 bg-blue-50 inline-block rounded-full uppercase">
        Our Trusted Clients
      </h2>
      <div class="max-w-4xl mx-auto">
        <h3 class="text-3xl md:text-4xl font-bold leading-tight text-gray-900">
          Since 2021, we have partnered with these companies to create
          positive impact for the future.
          <span class="mt-4 text-gray-100 clientHightlight font-normal block">Will your logo be next here?
          </span>
        </h3>
        <div class="mt-18">
          <div class="sm:grid-cols-2 lg:grid-cols-4 gap-8 grid grid-cols-1">
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/bajaj.png" alt="bajaj" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                Bajaj Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/dcm.jpg" alt="dcm" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                DCM Shriram
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/up-tourism.png" alt="lhsf" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                UP Tourism
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/birla.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                Birla Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/dcm.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                DCM Shriram
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/lhsf.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                LHSF Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/mawana.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                Mawana Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/par.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                Parle Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/up-tourism.png" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                UP Tourism
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/yadu.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                Yadu Sugar
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <img src="../src/assets/clients/upsugar.jpg" alt="birla" class="w-12" />
              <p class="text-xl font-semibold md:text-2xl text-nowrap">
                UP SugarFed
              </p>
            </div>
            <div class="rounded-xl p-8 h-48 companyLogo flex items-center justify-center bg-[#F9F9F9]">
              <p class="text-xl font-normal md:text-3xl text-nowrap">
                50+ More
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our Achievements-->
  <section class="bg-black py-8 md:py-16 acheivements-js">
    <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
      <h2 class="text-lg font-light text-[#3b82f6]">Our Achievements</h2>
      <p
        class="tracking-3 achievementsHightlight mt-3 max-w-3xl text-4xl leading-10 text-gray-700 md:text-2xl font-[300]">
        We champion the bold ideas and brave steps our partners have taken
        with us, from startups to enterprises. We’re proud of the
        connections we’ve made along the way
      </p>
      <div class="md:mt-18">
        <dl
          class="statsContainer mt-6 gap-4 lg:gap-[8rem] md:mt-8 flow-col md:flex-row sm:flex mx-auto items-center justify-center">
          <div class="max-w-xs px-4 py-4 md:py-8 gap-2 flex flex-col text-left">
            <dt class="leading-6 font-normal text-gray-500 md:max-w-3/4 md:text-[15px] order-last text-[20px]">
              Successfully completed more than 420+ projects.
            </dt>
            <dd class="text-7xl font-normal text-white md:text-8xl text-nowrap">
              <span id="projectsCompleted">0</span><span class="text-blue-600">+</span>
            </dd>
          </div>
          <div class="max-w-xs px-4 md:py-8 gap-2 flex flex-col text-left">
            <dt class="leading-6 font-normal text-gray-500 md:max-w-3/4 md:text-[15px] order-last text-[20px]">
              Passionate Designers and Management Teams
            </dt>
            <dd class="text-7xl font-normal text-white md:text-8xl">
              <span id="employeeCount">0</span>
              <span class="text-blue-600">+</span>
            </dd>
          </div>
          <div class="max-w-xs gap-2 px-4 md:py-8 flex flex-col text-left">
            <dt class="leading-6 font-normal text-gray-500 md:max-w-3/4 md:text-[15px] order-last text-[20px]">
              With 12+ years of experience, Vibrant IT Solutions delivers
              results.
            </dt>
            <dd class="text-7xl font-normal text-white md:text-8xl">
              <span id="experienceYears">0</span>
              <span class="text-blue-600">+</span>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="sixthPage-js bg-white relative overflow-hidden">
    <div class="max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16 mx-auto h-screen">
      <h2
        class="text-5xl tracking-tight text-black md:text-8xl absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center font-[300]">
        What they say about Vibrant IT Solutions
      </h2>

      <div class="relative flex h-[300vh] flex-col items-center justify-center">
        <div class="testimonials-container gap-10 relative flex w-full flex-col items-center">
          <blockquote
            class="testimonial max-w-sm border-gray-950/[.1] bg-gray-50 p-6 shadow-lg hover:shadow-xl md:absolute md:top-[70%] md:left-0 border text-center">
            <p class="text-gray-700">
              "Vibrant IT Solutions helped us take our business online
              with a sleek, user-friendly website and a powerful mobile
              app. Their team understood our needs and delivered beyond
              expectations. Highly recommended!"
            </p>
            <div class="mt-6 gap-4 flex items-center">
              <img alt="Reviewer"
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="size-8 rounded-full object-cover" />
              <div>
                <p class="mt-0.5 text-lg font-medium text-gray-900">
                  — Rajesh Verma, CEO, NextGen Retail
                </p>
              </div>
            </div>
          </blockquote>

          <blockquote
            class="testimonial max-w-sm border-gray-950/[.1] bg-gray-50 p-6 shadow-lg hover:shadow-xl md:absolute md:left-[68%] border text-center">
            <p class="text-gray-700">
              "We needed a custom enterprise solution for our growing
              operations, and Vibrant IT Solutions delivered a flawless
              application that scales effortlessly. Their attention to
              detail and support is top-notch!"
            </p>
            <div class="mt-6 gap-4 flex items-center">
              <img alt="Reviewer"
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="size-8 rounded-full object-cover" />
              <div>
                <p class="mt-0.5 text-lg font-medium text-gray-900">
                  — Sarah Thompson, CTO, TechWave Solutions
                </p>
              </div>
            </div>
          </blockquote>

          <blockquote
            class="testimonial max-w-sm border-gray-950/[.1] bg-gray-50 p-6 shadow-lg hover:shadow-xl md:absolute md:top-[75%] md:left-[7%] border text-center">
            <p class="text-gray-700">
              "Our startup needed a dynamic app within a short timeline,
              and Vibrant IT Solutions made it happen! Their team worked
              efficiently, keeping us updated at every stage. The result?
              A stunning app that our users love!"
            </p>
            <div class="mt-6 gap-4 flex items-center">
              <img alt="Reviewer"
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="size-8 rounded-full object-cover" />
              <div>
                <p class="mt-0.5 text-lg font-medium text-gray-900">
                  — Amit Sharma, Founder, FitTrack App
                </p>
              </div>
            </div>
          </blockquote>

          <blockquote
            class="testimonial max-w-sm border-gray-950/[.1] bg-gray-50 p-6 shadow-lg hover:shadow-xl md:absolute md:top-[75%] md:left-[50%] border text-center">
            <p class="text-gray-700">
              "From UI/UX design to backend development, the Vibrant IT
              team has been an invaluable partner in our digital
              transformation journey. Their innovative approach and quick
              turnaround have boosted our productivity!"
            </p>
            <div class="mt-6 gap-4 flex items-center">
              <img alt="Reviewer"
                src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                class="size-8 rounded-full object-cover" />
              <div>
                <p class="mt-0.5 text-lg font-medium text-gray-900">
                  — Vikram Joshi, COO, FinTechPro
                </p>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
  <script type="module" src="/src/js/overviewPage.js"></script>
</div>